.slider__card{
    width: 400px;
    height: 288px;
    background-color: #fff;
    border-radius: 16px;
    padding-left:24px ;
    margin-top: 64px;
    margin-right: 16px;
    padding-right: 16px;
}
.slider__card:last-child{
    margin-right: 0;
}

@media all and (max-width: 768px) {
    .slider__card{
        width: 336px;
        height: 242px;
        margin-right: 8px;
        margin-top: 32px;
    }
}

@media all and (max-width: 550px) {
    .slider__card{
        width: 288px;
        height: 264px;
        padding-left: 16px;
        padding-right: 26px;
        margin-top: 16px;
    }
}