.header__logo{
    width: 140px;
  height: 80px;
    text-decoration: none;
    font-family: Roboto Slab;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 80px;
vertical-align: middle;
}