.news__img{
  width: 400px;
  height: 272px;
}


@media all and (max-width: 1024px) {
    .news__img {
        width: 224px;
        height: 150px;
    }
  }
  
  @media all and (max-width: 767px) {
    .news__img {
      width: 288px;
      height: 196px;
    }
  }