.diagram__week{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 40px;
  width: 104px;
  min-height: 504px;
}
@media all and (max-width: 425px) {
  .diagram__week {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 308px;
  }
}
