.technologes__title{
    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;
/* or 115% */


/* main/black */

color: #1A1B22;
margin-right: 194px;
width: 344px; 
margin-top: 80px;
}