.slider__commit{
    width: 352px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* or 137% */


/* main/black */

color: #1A1B22;
margin: 0;
margin-top: 16px;
}