.author__paragraph{
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}

@media all and (max-width: 1076px){
    .author__paragraph{
        margin: 0;
        font-size: 18px;
line-height: 24px;
    }
}