.searcher__container{
    margin-bottom: 80px;
}

@media all and (max-width: 768px){
    .searcher__container{
        max-width: 452px;
margin-bottom: 48px;
    }
}
@media all and (max-width: 660px){
    .searcher__container{
padding: 0 16px;
margin-bottom: 32px;
max-width: 285px;
    }
}

  
 