.footer__container{
  position: relative;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 104px;
  min-height: 80px;
}


@media all and (max-width: 1076px){
  .footer__container{
      padding: 0 40px;
      height: 64px;
  }
}
@media all and (max-width: 750px){
  .footer__container{
    flex-direction: column;
      padding: 0 16px;
      height: auto;
      justify-content: start;
      align-items: flex-start;
  }
}