.news__source{
    font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;


letter-spacing: 0.4px;
text-transform: uppercase;

color: #B6BCBF;

margin-top: 18px;
margin-bottom: 24px;
}
@media all and (max-width: 1024px) {
    .news__source {
      margin-top: 12px;
    }
  }
  @media all and (max-width: 767px) {
    .news__source {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }