.header__link_active-white{
    color: #1A1B22;
    padding-bottom: 27px;
    border-bottom: 3px solid #1A1B22;
}

@media all and (max-width: 768px) {
    .header__link_active-white {
        padding-bottom: 16px;
    }
  }
  
  @media all and (max-width: 520px) {
    .header__link_active-white {
      padding-bottom: 13px;
    }
  }