.news__title-card{
    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
/* or 115% */


/* main/black */

color: #1A1B22;
width: 352px;
margin: 12px 24px 0 24px;
}