.slider__container{
    display: flex;
    flex-direction: row;
    padding-bottom: 136px;
    
}
@media all and (max-width: 768px) {
    .slider__container{
       padding-bottom: 80px;
}
}
@media all and (max-width: 550px) {
    .slider__container{
       padding-bottom: 48px;
}
}