.footer__link{
    text-decoration: none;
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
letter-spacing: 0px;
text-align: center;
color: #1A1B22;
margin-left: 0;
margin-right: 40px;
}
