.news__title-result{
    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;
/* identical to box height, or 115% */


/* main/black */
margin: 0;
color: #1A1B22;
}