.news__card{
    max-width: 400px;
    height: 576px;
    border-radius: 16px;    
    background: #FFFFFF;
    overflow: hidden;
}
@media all and (max-width: 1024px) {
    .news__card {
        max-width: 224px;
        height: 420px;
    }
  }
  
  @media all and (max-width: 767px) {
    .news__card {
      max-width: 288px;
      height: 446px;
    }
  }